[Unit]
Description=Webhook Service
After=network.target

[Service]
ExecStart=/bin/webhook -hooks=/opt/webhook/hooks.json -verbose=true
WorkingDirectory=/opt/webhook
KillMode=process

[Install]
WantedBy=multi-user.target
