[Unit]
Description=Small server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/

[Service]
ExecStart=/usr/bin/webhook -nopanic -hooks ~/redeploy/hooks.json -verbose

[Install]
WantedBy=multi-user.target
